<div class="content-wrap cndn-wrap">
    <div class="page-header">
        <div class="page-header-inner">
            <div class="page-header-content-left">
                <div class="page-header-content title-block">
                    <h1 class="title type-2">
                        Tasks (Module & Developer Wise)
                    </h1>
                </div><!-- Page Header Content -->
                <div class="page-header-content button-block">
                    <button class="btn btn-bordered" data-toggle="modal" data-target="#project-filter-modal"><i class="icon ion-md-funnel"></i>Filter</button>
                </div><!-- Page Header Content -->
            </div><!-- Page Header Content Left -->
            <div class="page-header-content-right">
                <div class="page-header-content indicator-block">
                    <ul class="indicator-list">
                        <li class="green">Active</li>
                        <li class="red">Inactive</li>
                    </ul>
                </div><!-- Page Header Content -->
                <div class="page-header-content button-block">
                    <a href="javascript:;" ng-click="showModuleForm({})" class="btn btn-primary">
                        Add Module
                    </a>
                    <a href="javascript:;" ng-click="addTask({})" class="btn btn-primary">
                        Add Task
                    </a>
                </div><!-- Page Header Content -->
            </div><!-- Page Header Content Right -->
        </div><!-- Page Header Inner -->
    </div><!-- Page Header -->
    <h5>
        {{$ctrl.project_version ? $ctrl.project_version.project.short_name+ "-"+ $ctrl.project_version.number : '' }}
    </h5>
    <div class="page-main-content">
        <br />
        <div class="container-fluid" style="overflow-x: scroll;">
            <div style="width: 5000px;" class="row" dnd-list="$ctrl.modules" dnd-allowed-types="$ctrl.module_types" dnd-drop="updateModulePriority(item,index)">
                <div class="col-md-3" style="width: 100%; max-width: 300px; float: left;" dnd-draggable="module" dnd-effect-allowed="move" dnd-moved="$ctrl.modules.splice(key1, 1)" dnd-type="$ctrl.module_type" ng-repeat="(key1, module) in $ctrl.modules">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                {{module.name}} ({{module.duration}} hrs.)
                            </h3>
                            <div>
                                <dnd-nodrag>
                                    <md-slider-container ng-disabled="isDisabled">
                                        <input type="checkbox" ng-model="module.toggleSlider">
                                        <md-slider ng-disabled="!module.toggleSlider" min="0" max="100" id="slider-{{module.id}}" ng-readonly="true" ng-model="module.completed_percentage" aria-label="completed percentage" class="md-warn">
                                        </md-slider>
                                    </md-slider-container>
                                </dnd-nodrag>
                            </div>
                            <div>
                                <span class="label label-danger">
                                    {{module.status.name}}
                                </span>
                                <span class="label label-success">
                                    {{module.completed_percentage}}%
                                </span>
                                <span class="label label-info">
                                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true">
                                    </span>
                                    {{module.parent_modules_count}}
                                </span>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-default" ng-click="showModuleForm(module)" title="Edit Module">
                                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                    </button>
                                    <button type="button" class="btn btn-sm btn-default" ng-click="$ctrl.module=module;showTaskForm({},$event)" title="Add Task">
                                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                    </button>
                                    <button type="button" class="btn btn-sm btn-default" ng-click="deleteModule(task,$event)">
                                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <!-- UNASSIGNED TASKS OF MODULES -->
                        <div class="col-md-12" style="background-color: white">
                            <br />
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">
                                        <span class="glyphicon glyphicon-user" aria-hidden="true">
                                        </span>
                                        UNASSIGNED TASKS
                                        <a href="javascript:;" ng-click="$ctrl.module=module;showTaskForm({},$event)" class="pull-right">
                                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                        </a>
                                        <br />
                                        <span class="badge"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>1</span>
                                        <span class="badge"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>2</span>
                                    </h3>
                                </div>
                                <ul class="list-group" dnd-list="module.unassigned_tasks" dnd-allowed-types="$ctrl.task_types">
                                    <li ng-repeat="(key2, task) in module.unassigned_tasks" class="list-group-item list-group-item-success" ng-click="showTaskForm(task)" dnd-draggable="task" dnd-effect-allowed="move" dnd-type="$ctrl.task_type" dnd-moved="module.unassigned_tasks.splice(key2, 1)">
                                        <span class="label label-default">{{task.date}}</span>
                                        <span class="label label-primary">
                                            EH : {{task.estimated_hours}} Hrs
                                        </span>
                                        <span class="label label-success">
                                            AH : {{task.actual_hours}} Hrs
                                        </span>
                                        <span class="label label-danger">{{task.type.name}}</span>
                                        <span class="label label-info">{{task.module.name}}</span>
                                        <br />
                                        {{task.number}} : {{task.subject}}
                                        <a href="javascript:;" ng-click="deleteTask(task,$event,module.unassigned_tasks,key2)">
                                            <span class="glyphicon glyphicon-trash pull-right" aria-hidden="true">
                                            </span>
                                        </a>
                                    </li>
                                    <li class="dndPlaceholder">
                                        Drop any <strong>Task</strong> here
                                    </li>
                                </ul>
                                <div class="panel-footer">
                                    Tasks : 8 / EH : 8 / AH : 8.5
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12" ng-repeat="(key, developer) in module.developers" style="background-color: white">
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <h3 class="panel-title">
                                        <span class="glyphicon glyphicon-user" aria-hidden="true">
                                        </span>
                                        {{developer.first_name}} {{developer.last_name}}
                                        <a href="javascript:;" ng-click="$ctrl.assigned_to = developer;$ctrl.module = module;showTaskForm({},$event)" class="pull-right">
                                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                        </a>
                                        <br />
                                        <span class="badge"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>1</span>
                                        <span class="badge"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>2</span>
                                    </h3>
                                </div>
                                <ul class="list-group" dnd-list="developer.tasks" dnd-allowed-types="$ctrl.task_types">
                                    <li ng-repeat="(key3 ,task) in developer.tasks" class="list-group-item list-group-item-success" ng-click="showTaskForm(task,$event)" dnd-draggable="task" dnd-effect-allowed="move" dnd-type="$ctrl.task_type" dnd-moved="developer.tasks.splice(key3, 1)">
                                        <span class="label label-default">{{task.date}}</span>
                                        <span class="label label-primary">
                                            EH : {{task.estimated_hours}} Hrs
                                        </span>
                                        <span class="label label-success">
                                            AH : {{task.actual_hours}} Hrs
                                        </span>
                                        <span class="label label-danger">{{task.type.name}}</span>
                                        <span class="label label-info">{{task.module.name}}</span>
                                        <br />
                                        {{task.number}} : {{task.subject}}
                                        <a href="javascript:;" ng-click="deleteTask(task,$event,developer.tasks,key3)">
                                            <span class="glyphicon glyphicon-trash pull-right" aria-hidden="true">
                                            </span>
                                        </a>
                                    </li>
                                    <li class="dndPlaceholder">
                                        Drop any <strong>Task</strong> here
                                    </li>
                                </ul>
                                <div class="panel-footer">
                                    Tasks : 8 / EH : 8 / AH : 8.5
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            &nbsp;
                        </div>
                    </div>
                </div><!-- Column -->
            </div><!-- Row -->
        </div><!-- Container -->
    </div><!-- Page Main Content -->
</div><!-- Content Wrap -->
<!-- ------------------------------------------------------------------------------ -->
<!-- ------------------------------------------------------------------------------ -->
<!-- ------------------------------------------------------------------------------ -->
<!-- Module Form Modal -->
<div class="modal fade filter" id="module-form-modal" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close ripple" data-dismiss="modal" aria-label="Close"><i class="icon ion-md-close"></i></button>
                <h5 class="modal-title" id="myModalLabel">
                    {{$ctrl.module.id ? 'Edit' : 'Add'}} Module
                    {{$ctrl.project_version ? '('+$ctrl.project_version.project.short_name+'-'+$ctrl.project_version.number+')' : ''}}
                </h5>
            </div><!-- Modal Header -->
            <form id="module_form">
                <input type="hidden" name="id" value="{{$ctrl.module.id}}">
                <div class="modal-body">
                    <div class="modal-form">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>
                                        Module Name
                                        <sup class="mandatory">*</sup>
                                    </label>
                                    <input type="text" class="form-control" name="name" autocomplete="off" ng-model="$ctrl.module.name">
                                </div><!-- Field -->
                            </div><!-- Column -->
                            <div class="col-sm-6">
                                <div class="separate-form-group">
                                    <label>
                                        Status
                                        <sup class="mandatory">*</sup>
                                    </label>
                                    <ui-select ng-model="$ctrl.module.status" theme="select2">
                                        <ui-select-match>
                                            {{$select.selected.name || $select.selected}}
                                        </ui-select-match>
                                        <ui-select-choices repeat="i in $ctrl.module_status_list | propsFilter: {name: $select.search}">
                                            <div ng-bind-html="i.name | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                    <input type="hidden" name="status_id" value="{{$ctrl.module.status.id}}">
                                </div><!-- Field -->
                            </div><!-- Column -->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>
                                        Estimated Hours
                                    </label>
                                    <input type="text" class="form-control" name="duration" autocomplete="off" ng-model="$ctrl.module.duration">
                                </div><!-- Field -->
                            </div><!-- Column -->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>
                                        Priority
                                    </label>
                                    <input type="text" class="form-control" name="priority" autocomplete="off" ng-model="$ctrl.module.priority">
                                </div><!-- Field -->
                            </div><!-- Column -->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>
                                        Estimated Start Date
                                    </label>
                                    <div class="input-group date" data-provide="datepicker">
                                        <input class="form-control  align-left" name="date" ng-model="$ctrl.module.start_date" autocomplete="off">
                                        <span class="input-group-addon">
                                            <img class="img-responsive" ng-src="{{$ctrl.theme}}/img/content/calender-gray-icon.svg" alt="Calendar Image" />
                                        </span>
                                    </div><!-- Input Group -->
                                </div><!-- Feild -->
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>
                                        Estimated End Date
                                    </label>
                                    <div class="input-group date" data-provide="datepicker">
                                        <input class="form-control  align-left" name="date" ng-model="$ctrl.module.end_date" autocomplete="off">
                                        <span class="input-group-addon">
                                            <img class="img-responsive" ng-src="{{$ctrl.theme}}/img/content/calender-gray-icon.svg" alt="Calendar Image" />
                                        </span>
                                    </div><!-- Input Group -->
                                </div><!-- Feild -->
                            </div>
                            <div class="col-sm-6" ng-show="$ctrl.show_assigned_to">
                                <div class="separate-form-group">
                                    <label>Assigned To </label>
                                    <ui-select ng-model="$ctrl.module.assigned_to" theme="select2" ng-model-options="{trackBy: '$value.id' }">
                                        <ui-select-match>
                                            {{$select.selected.first_name || $select.selected}}
                                        </ui-select-match>
                                        <ui-select-choices repeat="assigned_to in $ctrl.users_list | propsFilter: {first_name: $select.search}">
                                            <div ng-bind-html="assigned_to.first_name | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                    <input type="hidden" name="assigned_to_id" value="{{$ctrl.module.assigned_to.id}}">
                                </div><!-- Field -->
                            </div><!-- Column -->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>
                                        Completed Percentage
                                        <sup class="mandatory">*</sup>
                                    </label>
                                    <input type="text" class="form-control" name="completed_percentage" autocomplete="off" ng-model="$ctrl.module.completed_percentage">
                                </div><!-- Field -->
                            </div><!-- Column -->
                            <div class="col-sm-6" ng-show="$ctrl.show_project">
                                <div class="separate-form-group">
                                    <label>Project <sup class="mandatory">*</sup> </label>
                                    <ui-select ng-model="$ctrl.module.project" theme="select2" ng-change="" ng-model-options="{trackBy: '$value.id' }">
                                        <ui-select-match placeholder="Select Project">
                                            {{$select.selected.name || $select.selected}}
                                        </ui-select-match>
                                        <ui-select-choices repeat="project in $ctrl.project_list | propsFilter: {name: $select.search}">
                                            <div ng-bind-html="project.name | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                    <input type="hidden" name="project_id" value="{{$ctrl.module.project.id}}">
                                </div><!-- Field -->
                            </div><!-- Column -->
                            <div class="col-sm-6" ng-show="$ctrl.show_project_version">
                                <div class="separate-form-group">
                                    <label>
                                        Project Version
                                        <sup class="mandatory">*</sup>
                                    </label>
                                    <ui-select ng-model="$ctrl.module.project_version" theme="select2" ng-change="" ng-model-options="{trackBy: '$value.id' }">
                                        <ui-select-match>
                                            {{$select.selected.number || $select.selected}}
                                        </ui-select-match>
                                        <ui-select-choices repeat="project_version in $ctrl.extras.project_version_list | propsFilter: {number: $select.search}">
                                            <div ng-bind-html="project_version.number | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                    <input type="hidden" name="project_version_id" value="{{$ctrl.module.project_version.id}}">
                                </div><!-- Field -->
                            </div><!-- Column -->
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Remarks</label>
                                    <textarea class="form-control" id="remarks" name="remarks" autocomplete="off"></textarea>
                                </div><!-- Field -->
                            </div><!-- Column -->
                        </div>
                        <!--row-->
                        <div class="row">
                            <div class="col-md-6">
                                <button type="submit" class="btn btn-rose" ng-click="">
                                    Submit
                                </button>
                            </div>
                        </div><!-- Row -->
                    </div><!-- Modal Form -->
                </div><!-- Modal Body -->
            </form>
        </div><!-- Modal Content -->
    </div><!-- Modal Dialog -->
</div><!-- Modal -->
<!-- ---------------- -->
<!-- ---------------- -->
<!-- ---------------- -->
<!-- Task Form Modal -->
<div class="modal fade filter" id="task-form-modal" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close ripple" data-dismiss="modal" aria-label="Close"><i class="icon ion-md-close"></i></button>
                <h5 class="modal-title" id="myModalLabel">
                    {{$ctrl.task.id ? 'Edit' : 'Add'}} Task
                    {{$ctrl.project_version ? '('+$ctrl.project_version.project.short_name+'-'+$ctrl.project_version.number+' / '+$ctrl.task.module.name+')' : ''}}
                </h5>
            </div><!-- Modal Header -->
            <form id="task_form">
                <input type="hidden" name="id" value="{{$ctrl.task.id}}">
                <div class="modal-body">
                    <div class="modal-form">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>
                                        Task Date
                                    </label>
                                    <div class="input-group date" data-provide="datepicker">
                                        <input class="form-control  align-left" placeholder="Select a Date" name="date" id="date" ng-model="$ctrl.task.date" autocomplete="off">
                                        <span class="input-group-addon">
                                            <img class="img-responsive" ng-src="{{$ctrl.theme}}/img/content/calender-gray-icon.svg" alt="Calendar Image" />
                                        </span>
                                    </div><!-- Input Group -->
                                </div><!-- Feild -->
                            </div>
                            <div class="col-sm-6" ng-show="$ctrl.show_assigned_to">
                                <div class="separate-form-group">
                                    <label>Assigned To </label>
                                    <ui-select ng-model="$ctrl.task.assigned_to" theme="select2" ng-model-options="{trackBy: '$value.id' }">
                                        <ui-select-match placeholder="Select Assigned To">
                                            {{$select.selected.first_name || $select.selected}}
                                        </ui-select-match>
                                        <ui-select-choices repeat="assigned_to in $ctrl.users_list | propsFilter: {first_name: $select.search}">
                                            <div ng-bind-html="assigned_to.first_name | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                    <input type="hidden" name="assigned_to_id" id="assigned_to_id" value="{{$ctrl.task.assigned_to.id}}">
                                </div><!-- Field -->
                            </div><!-- Column -->
                            <div class="col-sm-6" ng-show="$ctrl.show_project">
                                <div class="separate-form-group">
                                    <label>Project <sup class="mandatory">*</sup> </label>
                                    <ui-select ng-model="$ctrl.task.project" theme="select2" ng-change="onSelectedProject($ctrl.task.project.id);$ctrl.task.project_version='';$ctrl.task.module=''" ng-model-options="{trackBy: '$value.id' }">
                                        <ui-select-match placeholder="Select Project">
                                            {{$select.selected.name || $select.selected}}
                                        </ui-select-match>
                                        <ui-select-choices repeat="project in $ctrl.project_list | propsFilter: {name: $select.search}">
                                            <div ng-bind-html="project.name | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                    <input type="hidden" name="project_id" id="project_id" value="{{$ctrl.task.project.id}}">
                                </div><!-- Field -->
                            </div><!-- Column -->
                            <div class="col-sm-6" ng-show="$ctrl.show_project_version">
                                <div class="separate-form-group">
                                    <label>
                                        Project Version
                                        <sup class="mandatory">*</sup>
                                    </label>
                                    <ui-select ng-model="$ctrl.task.project_version" theme="select2" ng-change="onSelectedProjectVersion($ctrl.task.project_version.id);$ctrl.task.module=''" ng-model-options="{trackBy: '$value.id' }">
                                        <ui-select-match placeholder="Select Project Version">
                                            {{$select.selected.number || $select.selected}}
                                        </ui-select-match>
                                        <ui-select-choices repeat="project_version in $ctrl.extras.project_version_list | propsFilter: {number: $select.search}">
                                            <div ng-bind-html="project_version.number | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                    <input type="hidden" name="project_version_id" id="project_version_id" value="{{$ctrl.task.project_version.id}}">
                                </div><!-- Field -->
                            </div><!-- Column -->
                            <div class="col-sm-6" ng-show="$ctrl.show_module">
                                <div class="separate-form-group">
                                    <label>
                                        Module
                                        <sup class="mandatory">*</sup>
                                    </label>
                                    <ui-select ng-model="$ctrl.task.module" theme="select2">
                                        <ui-select-match placeholder="Select Module">
                                            {{$select.selected.name || $select.selected}}
                                        </ui-select-match>
                                        <ui-select-choices repeat="module in $ctrl.module_list | propsFilter: {name: $select.search}">
                                            <div ng-bind-html="module.name | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                    <input type="hidden" name="module_id" id="module_id" value="{{$ctrl.task.module.id}}">
                                </div><!-- Field -->
                            </div><!-- Column -->
                            <div class="col-sm-6">
                                <div class="separate-form-group">
                                    <label>
                                        Type
                                        <sup class="mandatory">*</sup>
                                    </label>
                                    <ui-select ng-model="$ctrl.task.type_id" theme="select2">
                                        <ui-select-match placeholder="Select Task Type">
                                            {{$select.selected.name || $select.selected}}
                                        </ui-select-match>
                                        <ui-select-choices repeat="i.id as i in $ctrl.task_type_list | propsFilter: {name: $select.search}">
                                            <div ng-bind-html="i.name | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                    <input type="hidden" name="type_id" id="type_id" value="{{$ctrl.task.type_id}}">
                                </div><!-- Field -->
                            </div><!-- Column -->
                        </div>
                        <!--row-->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>
                                        Subject
                                        <sup class="mandatory">*</sup>
                                    </label>
                                    <input type="text" class="form-control" name="subject" ng-model="$ctrl.task.subject" autocomplete="off">
                                </div><!-- Field -->
                            </div><!-- Column -->
                            <div class="col-sm-6">
                                <div class="separate-form-group">
                                    <label>
                                        Status
                                        <sup class="mandatory">*</sup>
                                    </label>
                                    <ui-select ng-model="$ctrl.task.status_id" theme="select2">
                                        <ui-select-match placeholder="Select Task Status">
                                            {{$select.selected.name || $select.selected}}
                                        </ui-select-match>
                                        <ui-select-choices repeat="i.id as i in $ctrl.task_status_list | propsFilter: {name: $select.search}">
                                            <div ng-bind-html="i.name | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                    <input type="hidden" name="status_id" id="status_id" value="{{$ctrl.task.status_id}}">
                                </div><!-- Field -->
                            </div><!-- Column -->
                        </div>
                        <!--row-->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Description</label>
                                    <textarea class="form-control" ng-model="$ctrl.task.description" name="description" autocomplete="off"></textarea>
                                </div><!-- Field -->
                            </div><!-- Column -->
                        </div>
                        <!--row-->
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>
                                        Estimated Hours
                                        <sup class="mandatory">*</sup>
                                    </label>
                                    <input type="text" class="form-control" ng-model="$ctrl.task.estimated_hours" name="estimated_hours" autocomplete="off">
                                </div><!-- Field -->
                            </div><!-- Column -->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Actual Hours</label>
                                    <input type="text" class="form-control" name="actual_hours" ng-model="$ctrl.task.actual_hours" autocomplete="off">
                                </div><!-- Field -->
                            </div><!-- Column -->
                        </div>
                        <!--row-->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Remarks</label>
                                    <textarea class="form-control" ng-model="$ctrl.task.remarks" name="remarks" autocomplete="off"></textarea>
                                </div><!-- Field -->
                            </div><!-- Column -->
                        </div>
                        <!--row-->
                        <div class="row">
                            <div class="col-md-6">
                                <button type="submit" class="btn btn-rose" ng-click="">
                                    Submit
                                </button>
                            </div>
                        </div><!-- Row -->
                    </div><!-- Modal Form -->
                </div><!-- Modal Body -->
            </form>
        </div><!-- Modal Content -->
    </div><!-- Modal Dialog -->
</div><!-- Modal -->
<!-- ------------- -->
<!-- ------------- -->
<!-- ------------- -->
<!-- Filter Modal -->
<div class="modal fade filter" id="project-filter-modal" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close ripple" data-dismiss="modal" aria-label="Close"><i class="icon ion-md-close"></i></button>
                <h5 class="modal-title" id="myModalLabel">Project Filter</h5>
            </div><!-- Modal Header -->
            <div class="modal-body">
                <div class="modal-form">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Project Code</label>
                                <input type="text" class="form-control" id="project_code" name="project_code" placeholder="Enter Project Code" autocomplete="off">
                            </div><!-- Field -->
                        </div><!-- Column -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Project Name</label>
                                <input type="text" class="form-control" id="project_name" name="project_name" placeholder="Enter Project Name" autocomplete="off">
                            </div><!-- Field -->
                        </div><!-- Column -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Mobile Number</label>
                                <input type="text" class="form-control" id="mobile_no" name="mobile_no" placeholder="Enter Mobile Number" autocomplete="off">
                            </div><!-- Field -->
                        </div><!-- Column -->
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Email</label>
                                <input type="text" class="form-control" id="email" name="email" placeholder="Enter Email" autocomplete="off">
                            </div><!-- Field -->
                        </div><!-- Column -->
                        <div class="col-md-6">
                            <button type="button" class="btn btn-rose" ng-click="reset_filter()">Reset Filter</button>
                        </div>
                    </div><!-- Row -->
                </div><!-- Modal Form -->
            </div><!-- Modal Body -->
        </div><!-- Modal Content -->
    </div><!-- Modal Dialog -->
</div><!-- Modal -->
<!-- Modal -->
<div class="modal fade alert-modal failure" id="delete_project" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">ARE YOU SURE?</h4>
            </div>
            <div class="modal-body">
                <h5>Delete</h5>
                <p>You can’t retrive the data again, Are you sure you want to delete? </p>
                <input type="hidden" name="project_id" id="project_id" value="">
                <button class="btn btn-grey" data-dismiss="modal" aria-label="Close">Cancel</button>
                <button class="btn btn-rose" ng-click="deleteConfirm()" type="button" data-dismiss="modal" aria-label="Close">Yes</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
