<ul class="list-group" dnd-list="tasks" dnd-allowed-types="['task']">
    <li ng-repeat="(key2, task) in tasks" class="list-group-item list-group-item-warning" ng-click="showTaskForm(task, 0, $event)" dnd-draggable="task" dnd-effect-allowed="move" dnd-type="'task'" dnd-moved="tasks.splice(key2, 1)">
        <img ng-if="task.assigned_to.profile_image" ng-src="./storage/app/public/user-profile-images/<% task.assigned_to.profile_image.name %>" title="<% task.assigned_to.first_name %>" class="img-circle pull-left" style="width: 50px; height: 50px;" />
        <span ng-if="!task.assigned_to.profile_image" class="glyphicon1 glyphicon-user1" aria-hidden="true" style1="width: 50px; height: 50px">
            <% task.assigned_to.first_name %>
        </span>
        <span class="label label-primary" nf-if="task.module.project_version">
            <md-tooltip md-direction="top">
                Project
            </md-tooltip>
            <% task.project.short_name %>-
            <% task.module.project_version.number %>
        </span>
        &nbsp;
        <span class="label label-info">
            <md-tooltip md-direction="top">
                Module Name
            </md-tooltip>
            <% task.module.name %>
        </span>
        &nbsp;
        <span class="label label-default">
            <md-tooltip md-direction="top">
                Task Date
            </md-tooltip>
            <% task.date %>
        </span>
        &nbsp;
        <span class="label label-warning" style="background-color: <% task.status.color %>;">
            <md-tooltip md-direction=" top">
                Status
            </md-tooltip>
            <% task.status.name %>
        </span>
        &nbsp;
        <span class="label label-primary">
            <md-tooltip md-direction="top">
                Estimated Hours
            </md-tooltip>
            EH :
            <% task.estimated_hours %> Hrs
        </span>
        &nbsp;
        <span class="label label-success">
            <md-tooltip md-direction="top">
                Actual Hours
            </md-tooltip>
            AH :
            <% task.actual_hours %> Hrs
        </span>
        &nbsp;
        <span class="label label-danger">
            <md-tooltip md-direction="top">
                Task Type
            </md-tooltip>
            <% task.type.name %>
        </span>
        <br />
        <% task.number %> :
        <% task.subject %>
        <a href="javascript:;" ng-click="deleteTask(task.id,$event)" ng-if="$ctrl.delete_task_permission">
            <md-tooltip md-direction="top">
                Delete Task
            </md-tooltip>
            <span class="glyphicon glyphicon-trash pull-right" aria-hidden="true">
            </span>
        </a>
        <!-- <a href="javascript:;" ng-click="duplicateTask(task,$event,tasks,key2)"> -->
        <a href="javascript:;" ng-click="showTaskForm(task,1,$event,tasks,key2)">
            <md-tooltip md-direction="top">
                Clone Task
            </md-tooltip>
            <span class="glyphicon glyphicon-duplicate pull-right" aria-hidden="true">
            </span>
        </a>
    </li>
    <li ng-if="tasks.length == 0" class="alert alert-info">
        No Tasks
    </li>
    <li class="dndPlaceholder">
        Drop any <strong>Task</strong> here
    </li>
</ul>
